.myTitleText {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

.eddieImage {
  max-width: 250px;
  max-height: 250px;
  border: 3px solid #222;
  padding: 2px;
  float: left;
  border-radius: 50%;
}

.myProjectImages {
  max-width: 500px;
  max-height: 500px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5%;
}

p {
  /* padding: 10px 10px 10px 10px; */
  margin: 10px 10px 10px 10px;
  font-family: "Roboto", sans-serif;
  font-size: large;
}
