/* Our Header css files to make it sticky */

.myHeaderFont {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

.myHeader {
  background-color: beige;
}

.socialMediaIcon {
  padding: 5px 1px;
  opacity: 0.95;
  max-width: 50px;
  max-height: 50px;
}

.socialMediaIcon:hover {
  opacity: 1.0;
  max-width: 60px;
  max-height: 60px;
}
.sticky-wrapper {
  position: relative;
  height: 3rem; /* We need to change this value */
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
